<!DOCTYPE html>
<html lang="en">
<head>
 <!-- Meta tags for character encoding and responsive design -->
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
 <!-- Title of the webpage -->
 <title>TODO</title>
 
 <!-- Lateef font from fonts.google.com -->
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@500&display=swap" rel="stylesheet">
 
 <!-- Bootstrap CSS for styling -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
 
 <!-- Bootstrap JS for interactivity -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
 
 <!-- Bootstrap Icons for visual elements -->
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
 
 <!-- Custom styles -->
 <link rel="stylesheet" href="styles.css">
</head>
<body>
 <!-- Main container for the page -->
 <div class="container mt-5 ">
    <h1><strong>TODO</strong></h1>
     <!-- Form for adding new tasks -->
     <form action="/Tasks" method="POST" class="mb-3" autocomplete="off">
         <div class="input-group">
             <!-- Input field for new task -->
             <input type="text" name="addTask" id="addTask" class="form-control" placeholder="What tasks are you going to tackle first?" required>
             
             <!-- Submit button for the form -->
             <button type="submit" class="btn button"><i class="bi bi-patch-plus"></i></button>
         </div>
     </form>

     <!-- List of tasks -->
     <ol class="list-group">
      <% locals.tasks.forEach(function(task, index) { %>
       <form action="/delete" method="post">
          <!-- Each task item -->
          <li class="rounded list-group-item text-break shadow p-3 d-flex justify-content-between align-items-center give-space">
              <!-- Task text -->
              <input type="hidden" name="taskIndex" value="<%= index %>">
              <span>
               <input class="form-check-input list-checkbox" type="checkbox" id="checkbox">
               <%= task %></span>
              
              <!-- Button for marking tasks as done -->
              <div class="wrapper">
               <button type="submit" class="button invisible-button task-done-btn">
                  <i class="bi bi-trash"></i>
               </button>
              </div>

              <!-- SVG filter for visual effect -->
              <svg style="visibility: hidden; position: absolute;" width="0" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                    <filter id="goo"><feGaussianBlur in="SourceGraphic" stdDeviation="8" />  
                        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 19 -9" result="goo" />
                        <feComposite in="SourceGraphic" in2="goo" operator="atop"/>
                    </filter>
                </defs>
              </svg> 
              
          </li>
       </form>
       <% }) %>
       
       </ol>
 </div>
 
 <!-- jQuery library -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script>
    $(document).ready(function(){
        // Existing click event handler
        $(".form-check-input").on("click", function(e) {
            e.preventDefault();
            $(this).closest('li').toggleClass('strike');
        });
     
        // New keypress event handler
        $(document).keydown(function(e){
            if (e.which == 72) { // 72 is the ASCII value for 'H'
                $(".form-check-input").each(function() {
                    $(this).trigger('click');
                });
            }
        });
     });
     
 </script>
 <footer>
    <div class="container">
        <p> Made With ❤️ By AyDin VM</p>
    </div>
 </footer>
</body>
</html>

 
